NET "BCDin0[0]" LOC = P22;
NET "BCDin0[1]" LOC = P21;
NET "BCDin0[2]" LOC = P17;
NET "BCDin0[3]" LOC = P16;

NET "BCDin1[0]" LOC = P15;
NET "BCDin1[1]" LOC = P14;
NET "BCDin1[2]" LOC = P12;
NET "BCDin1[3]" LOC = P11;

NET "BCDin2[0]" LOC = P10;
NET "BCDin2[1]" LOC = P9;
NET "BCDin2[2]" LOC = P8;
NET "BCDin2[3]" LOC = P7;

NET "BCDin3[0]" LOC = P6;
NET "BCDin3[1]" LOC = P5;
NET "BCDin3[2]" LOC = P2;
NET "BCDin3[3]" LOC = P1;

//NET "reset" LOC = P1;
NET "clk" LOC = P84;

//NET "sel" LOC = P33;

NET "digit[0]" LOC = P127;
NET "digit[1]" LOC = P131;
NET "digit[2]" LOC = P132;
NET "digit[3]" LOC = P133;


















